html { 
    overflow-y: scroll; overflow-x:hidden; 
}
.overflowbody { 
    position: absolute; 
}

body{
    /* background-image: url('title.jpg');
    background-repeat: no-repeat; */
    background-color: black;
    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.startp {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    background-color: chocolate;
    /* padding: 15px 15px 15px 15px; */
}

.starth1{
    font-family: cursive;
    color: burlywood;
    font-size: 70px;
    
}

/* a :hover{
    text-decoration: underline;
} */

/* #tbg{
    background: url("tbg.png");
    height:100px;
} */

.sgamebody{
    background-color:black;
}

.startgamep {
    font-family: fantasy;
    color: rgb(148, 28, 28);
    font-size: 30px;
    background-color: rgb(56, 119, 75);
}

.finnstartp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cyan;
    font-size: 30px;
    background-color: darkgoldenrod;
}

/* #choice{
    background: url('tbg.png') no-repeat;
    background-size: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    position: absolute;
} */

/* .centertext{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
} */

.centertext{
    position: absolute;
    left:50%;
    top: 30%;
    transform: translate(-50%,-50%);

    width: 300px;
    height: 500px;
    opacity: 0;
}

.centertext:hover {
    background-color: rgba(256, 256, 256, 0.5);
    opacity: 1;
}

#leifs{
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

/* #leifs:hover {
    opacity: 1;
} */

.lefttext{
    position: absolute;
    left:32%;
    top: 30%;
    transform: translate(-50%,-50%);

    width: 250px;
    height: 500px;
    opacity: 0;
}

.lefttext:hover {
    background-color: rgba(256, 256, 256, 0.5);
    opacity: 1;
}

#finns{
    position: absolute;
    left:45%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

/* #finns:hover {
    opacity: 1;
    color: rebeccapurple;
} */

.righttext{
    position: absolute;
    left:68%;
    top: 30%;
    transform: translate(-50%,-50%);

    width: 250px;
    height: 500px;
    opacity: 0;
}

.righttext:hover {
    background-color: rgba(256, 256, 256, 0.5);
    opacity: 1;
}

#nannas{
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

/* #nannas:hover {
    opacity: 1;
    color: rebeccapurple;
} */

/* #leifstart{
    position: absolute;
    left:20px;
    top: 20px;

    width: 250px;
    height: 300px;
} */

/* #leifstart:hover {
    background-color: rgba(256, 256, 256, 0.5);
} */

.wrap {
    position: relative;
}

.wrap .centertext {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color:rebeccapurple;
    padding: .5em;
  }
  .wrap:hover .centertext {
    display: block;
  }

  .finnbadendh1 {
      color: darkred;
      font-family: 'Zhi Mang Xing', cursive;
      font-size: 50;
  }

  .finnbadendp{
      color: darkred;
      font-size: 30px;
      font-family: 'Shadows Into Light', cursive;
  }

  .finnroute2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkgray;
    font-size: 30px;
    background-color:teal;
}

#choicelink{
    color: violet;
}

.right {
    float: right;
    margin-right: 250px;
    padding: 10px;
  }

 .left {
    float: left;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
 }

 .lefttextbig{
    position: absolute;
    left:27%;
    top: 32%;
    transform: translate(-50%,-50%);

    width: 500px;
    height: 500px;
    opacity: 0;
}

.righttextbig{
    position: absolute;
    left:73%;
    top: 32%;
    transform: translate(-50%,-50%);

    width: 500px;
    height: 500px;
    opacity: 0;
}

.lefttextbig:hover {
    background-color: rgba(256, 256, 256, 0.5);
    opacity: 1;
}

.righttextbig:hover {
    background-color: rgba(256, 256, 256, 0.5);
    opacity: 1;
}